ion-content{
  background:linear-gradient(to bottom, #1565C0, #b92b27);
}

h2{
  color: #b92b27
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  text-align: justify;
}
